* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  z-index: 2;
  overflow: hidden;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 20px;
  margin: 0 auto;
  /* --------------- Mobile navigation button ----------- */
}

.header__logo {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 10px 10px 10px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-items {
  margin: 15px 45px;
  padding: 15px 0;
  list-style-type: none;
}

.header__list-items-link {
  text-transform: uppercase;
  color: #626262;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.header__list-items:last-child {
  padding-right: 0;
  margin-right: 0;
}

@media (max-width: 1200px) {
  .header .header__list {
    display: none;
  }
}

.header__menu-icon {
  z-index: 5;
  position: fixed;
  right: 10px;
  top: -25px;
  display: none;
  height: 30px;
  width: 35px;
  background-color: #222;
  border: 1px solid #222;
  border-radius: 4px;
  cursor: pointer;
}

.header__menu-icon-line {
  display: block;
  position: relative;
}

.header__menu-icon-line span,
.header__menu-icon-line span::before,
.header__menu-icon-line span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.header__menu-icon-line span::before,
.header__menu-icon-line span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__menu-icon-line span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header__menu-icon-line span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media (max-width: 1200px) {
  .header .header__menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
}

.header .header__menu-icon-active span:before {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 10px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  background-color: #fff;
}

.header .header__menu-icon-active span:after {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 10px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  background-color: #fff;
}

.header__mobile-nav {
  z-index: 3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  opacity: 0;
}

.header__mobile-nav--active {
  display: block;
  opacity: 50;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: fixed;
}

.header__mobile-nav__list {
  list-style-type: none;
  margin: 120px;
}

.header__mobile-nav__list-items {
  margin-top: 30px;
  text-align: center;
  padding: 5px 0;
}

.header__mobile-nav__list-items-link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=header.css.map */