body {
  height: 100vh;

  .header__container {
    display: flex;
    background-color: #223047;
    height: 70px;
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    border-bottom: solid 1px #4e596c;

    &-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin: 0 auto;
    }

    .logo {
      width: 100px;
      cursor: pointer;
    }

    &-section {
      &__list {
        display: flex;

        &-items {
          &-btn {
            margin: 15px;
            color: #fff;

            img {
              margin: auto 5px;
            }
          }

          &__home-list {
            display: none;

            &-items {
            }
          }
        }
      }
    }

    &-btn__list {
      display: flex;
      &-items {
        &__btn {
          background-color: #00fff0;
          width: 135px;
          height: 40px;
          border-radius: 6px;
          color: #233148;
          outline: none;
          cursor: pointer;
        }

        &__menu {
          display: inline-block;
          text-align: center;
          text-decoration: none;
          border: solid 1px transparent;
          border-radius: 4px;
          padding: 0.5em 1em;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
