.main {
  font-family: "Dosis", sans-serif;
}

.main__head-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 630px;
  background: #223047;
  margin: 0 auto;
}

.main__head-content__wrap {
  width: 30%;
  margin: 40px;
}

.main__head-content__wrap-chapter {
  font-size: 39.43px;
  color: #fff;
  margin: 0 0 40px 0;
  font-weight: 500;
  line-height: 49.29px;
}

.main__head-content__wrap-text {
  font-size: 13.8px;
  color: #97a4be;
  line-height: 28.59px;
}

.main__head-content__wrap-btn-dwl {
  background: #00fff0;
  border: 1px solid #00fff0;
  border-radius: 6px;
  font-size: 13.8px;
  color: #233148;
  width: 170px;
  height: 40px;
  margin: 50px 20px 0px 0;
  cursor: pointer;
}

.main__head-content__wrap-btn-reach {
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 13.8px;
  color: #fff;
  width: 170px;
  height: 40px;
  cursor: pointer;
}

.main__head-content-img {
  position: relative;
  top: 100px;
  margin: 50px;
}

.main__first-block {
  background: #fff;
  margin: 200px auto;
}

.main__first-block-chapter {
  width: 25%;
  margin: 200px auto;
  text-align: center;
  color: #233148;
  font-size: 30px;
  font-weight: 300;
}

.main__first-block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: 0 auto;
}

.main__first-block__wrap__sub-menu {
  width: 24%;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.main__first-block__wrap__sub-menu-img {
  width: 50%;
  margin: 20px 25%;
}

.main__first-block__wrap__sub-menu-chapter {
  text-align: center;
  font-size: 17px;
  color: #233148;
  font-weight: 100;
  line-height: 50px;
}

.main__first-block__wrap__sub-menu-text {
  color: #97a4be;
  line-height: 29px;
  font-size: 14px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 25px 0;
}

.main__second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #323a4d;
}

.main__second-block-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f5f6fa;
  width: 60%;
  min-height: 530px;
}

.main__second-block-article__chapter {
  font-size: 30px;
  color: #000;
  padding: 0 20px 40px 120px;
  font-weight: 300;
  width: 40%;
  line-height: 40px;
}

.main__second-block-article__text {
  color: #97a4be;
  font-size: 14px;
  line-height: 29px;
  width: 54%;
  padding: 0 0px 30px 120px;
}

.main__third-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.main__third-block__wrap {
  width: 46%;
}

.main__third-block__wrap-img {
  width: 90%;
  position: relative;
  top: 60px;
}

.main__third-block__wrap-article {
  margin: 100px 0;
}

.main__third-block__wrap-article-chapter {
  text-align: right;
  font-size: 30px;
  color: #000;
  font-weight: 300;
  margin-bottom: 40px;
}

.main__third-block__wrap-article-text {
  color: #97a4be;
  text-align: right;
  font-size: 14px;
  line-height: 29px;
  margin: 20px 0;
}

.main__third-block__wrap-article-btn {
  background: #00fff0;
  border: 1px solid #00fff0;
  border-radius: 6px;
  font-size: 17px;
  color: #233148;
  width: 170px;
  height: 50px;
  cursor: pointer;
  margin: 10px 0 10px 61%;
}

.main__third-block__wrap-code-img {
  width: 100%;
  margin: 100px 0;
}

.main__third-block__wrap-code-btn {
  background-color: #fff;
  color: #233148;
  font-size: 17px;
  text-align: start;
  width: 100%;
  padding: 30px 80px;
  margin: 10px 0;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.main__third-block__wrap-code-btn:nth-child(2):before {
  content: "";
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  background-image: url(../../image/heartIcon.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.main__third-block__wrap-code-btn:nth-child(3):before {
  content: "";
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  background-image: url(../../image/tagIcon.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 35px;
}

.main__third-block__wrap-code-btn:nth-child(4):before {
  content: "";
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  background-image: url(../../image/caseIcon.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.main__third-block__wrap-code-btn:nth-child(5):before {
  content: "";
  position: absolute;
  top: 40px;
  left: 35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  background-image: url(../../image/pensilIcon.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.main__third-block__wrap-code-btn:hover {
  background-color: #00fff0;
  -webkit-box-shadow: 0px 5px 10px 1px #00fff0;
          box-shadow: 0px 5px 10px 1px #00fff0;
}

.main__third-block__wrap-code-btn-chapter {
  color: #233148;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}

.main__third-block__wrap-code-btn-text {
  font-size: 14px;
  line-height: 27.59px;
}

.main__fourth-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #f5f6fa;
  width: 100%;
}

.main__fourth-block__content {
  width: 30%;
  height: 100%;
  position: relative;
}

.main__fourth-block__content-chapter {
  font-size: 30px;
  color: #000;
  font-weight: 300;
  text-align: right;
  margin-top: 100px;
  margin-bottom: 40px;
}

.main__fourth-block__content-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px 0;
  width: 20%;
  position: relative;
  left: 30%;
  cursor: pointer;
}

.main__fourth-block__content-label-input {
  background-color: black;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.main__fourth-block__content-label-fake {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #00fff0;
  position: relative;
}

.main__fourth-block__content-label-fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../../image/path.png);
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main__fourth-block__content-label .main__fourth-block__content-label-input:checked
+ .main__fourth-block__content-label-fake:before {
  opacity: 1;
}

.main__fourth-block__content-label-text {
  position: relative;
  top: 2px;
  left: 8px;
  padding: 0 5px;
}

.main__fourth-block__content-text {
  color: #97a4be;
  line-height: 29px;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 100px;
}

.main__fourth-block__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  margin-left: 80px;
  width: 30%;
}

.main__fourth-block__div-img {
  margin-right: -20px;
  width: 100%;
}

.main__fifth-block {
  background-color: #223047;
  width: 100%;
}

.main__fifth-block__wrap {
  width: 50%;
  margin: auto auto;
  text-align: center;
  padding: 100px 0;
}

.main__fifth-block__wrap-a-btn {
  background-color: #00fff0;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}

.main__fifth-block__wrap-a-btn:after {
  content: "";
  position: absolute;
  left: 28px;
  bottom: 25px;
  border: 10px solid transparent;
  border-left: 18px solid #223047;
}

.main__fifth-block__wrap-a-watch {
  width: 20%;
  margin: 20px auto;
  font-family: "Dosis", sans-serif;
  color: #fff;
  font-size: 17px;
}

.main__fifth-block__wrap-text {
  color: #fff;
  font-size: 14px;
  line-height: 29px;
  margin-top: 50px;
}

.main__six-block {
  background-color: #fff;
  width: 100%;
}

.main__six-block__wrap {
  background-image: url(../../image/map.png);
  background-size: 80%;
  background-repeat: no-repeat;
  text-align: center;
  width: 70%;
  margin: 50px auto;
}

.main__six-block__wrap-h4 {
  padding-top: 100px;
  font-size: 30px;
  font-weight: 400;
  color: #233148;
}

.main__six-block__wrap-text {
  margin: 50px 0;
  font-size: 17px;
  color: #233148;
}

.main__six-block__wrap-btn {
  margin-bottom: 100px;
  background-color: #00fff0;
  color: #233148;
  font-size: 17px;
  text-align: center;
  width: 170px;
  height: 50px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 255, 240, 0.7);
          box-shadow: 0px 5px 10px 1px rgba(0, 255, 240, 0.7);
  cursor: pointer;
}

.main__seven-block {
  background-color: #233148;
  width: 100%;
}

.main__seven-block__wrap {
  width: 55%;
  margin: 0 auto;
  padding: 150px 0;
}

.main__seven-block__wrap-text {
  font-size: 18px;
  color: #00fff0;
  text-align: center;
  line-height: 29px;
}

.main__eight-block {
  background-color: #f5f6fa;
  width: 100%;
  position: relative;
}

.main__eight-block__wrap {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 100px 0;
}

.main__eight-block__wrap-img {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main__eight-block__wrap-img-l {
  z-index: 2;
  width: 60%;
}

.main__eight-block__wrap-img-r {
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 1;
  width: 50%;
}

.main__eight-block__wrap-content {
  width: 45%;
}

.main__eight-block__wrap-content-h4 {
  font-size: 40px;
  color: #233148;
  font-weight: 400;
}

.main__eight-block__wrap-content-text {
  margin: 30px 0;
  font-size: 17px;
  color: #97a4be;
  line-height: 29px;
}

.main__eight-block__wrap-content-btng {
  background-image: url(../../image/playStoreBtn.png);
  background-repeat: no-repeat;
  width: 146px;
  height: 43px;
  cursor: pointer;
}

.main__eight-block__wrap-content-btna {
  background-image: url(../../image/appStoreBtn.png);
  background-repeat: no-repeat;
  width: 146px;
  height: 43px;
  margin-left: 20px;
  cursor: pointer;
}

.main__eight-block__btn-get {
  position: absolute;
  left: calc(50% - 165px);
  bottom: -35px;
  background-color: #00fff0;
  color: #233148;
  font-size: 17px;
  text-align: center;
  width: 370px;
  height: 70px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 255, 240, 0.7);
          box-shadow: 0px 5px 10px 1px rgba(0, 255, 240, 0.7);
  cursor: pointer;
}

.main__nineth-block {
  background-color: #fff;
  width: 100%;
}

.main__nineth-block__wrap {
  width: 70%;
  margin: 0 auto;
}

.main__nineth-block__wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 120px 0 90px 0;
}

.main__nineth-block__wrap-list-items {
  font-size: 17px;
  color: #233148;
}

.main__nineth-block__wrap-list-items__ul {
  margin-top: 20px;
  font-size: 14px;
}

.main__nineth-block__wrap-list-items__ul-li {
  color: #97a4be;
  line-height: 29px;
}

.main__nineth-block__subscribe {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.main__nineth-block__subscribe-h4 {
  font-size: 30px;
  color: #233148;
  font-weight: 400;
}

.main__nineth-block__subscribe-text {
  color: #97a4be;
  font-size: 17px;
  margin: 30px 0;
}

.main__nineth-block__subscribe-label-email {
  position: relative;
  bottom: -2px;
  width: 50%;
  height: 48px;
  border: 1px solid #f5f6fa;
  background-color: #f5f6fa;
  margin-right: 10px;
}

.main__nineth-block__subscribe-btn {
  background-color: #00fff0;
  color: #233148;
  font-size: 17px;
  text-align: center;
  width: 170px;
  height: 50px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 255, 240, 0.7);
          box-shadow: 0px 5px 10px 1px rgba(0, 255, 240, 0.7);
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 100px;
}
/*# sourceMappingURL=main.css.map */