.main {
  width: 100%;
  font-family: 'Playfair Display', serif;;
  color: #626262;
  font-size: 14px;
  
  &__main-article-img {
    width: 90%;
    margin: 0 5%;
    padding: 50px 0;
  }


  &__main-article-wrap {
    width: 70%;
    margin: 0 auto;
    padding: 20px;

    .main__main-article-chapter {
      font-family: 'Ubuntu', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      color: rgba(62, 62, 62, 0.432);
    }

    .main__main-article-caption {
      font-size: 30px;
      padding: 10px 10px 30px 0px;
      color: #626262;
    }
    
    .main__main-article-text {
      line-height: 24px;
      margin: 30px 0;
    }
    
    .main__main-article-btn {
      color: #b4ad9e;
      font-family: 'Ubuntu', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
    }
    
  }

  &__articles-wrap {

    .main__articles-list  {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      width: 70%;
      margin: 0 auto;  
      
      .main__articles-list-items {
        display: flex;
        flex-flow: column nowrap;
        margin: 40px 0;
        width: 46%;
        
        .main__main-article-img {
          padding: 0;
          margin: 0;
          object-fit: cover;
          height: 300px;
          // width: 100%;
        }

        .main__article-wrap {
          margin: 0 auto;
          padding: 20px 0;

          .main__main-article-chapter {
            font-family: 'Ubuntu', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: rgba(62, 62, 62, 0.432);
          }
      
          .main__main-article-caption {
            font-size: 30px;
            padding: 10px 10px 30px 0px;
            color: #626262;
          }
          
          .main__main-article-text {
            line-height: 24px;
            margin: 20px 0;
          }
        }
      }
    }
  }

  &__sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: #f0f0f0;

    .main__form {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      margin: 70px 0;
      width: 27%;
      
      border-width: 1px;
      border-bottom-style: solid;
      
      &-title {
        width: 100%;
        padding: 0 0px 80px 3px;
        font-size: 30px;
        color: #333333;
        font-weight: 500;
      }
      
      &-email {
        margin: 0;
        width: 80%;
        border: none;
        outline: none;
        vertical-align: middle;
        background-color: transparent;
        font-family: 'Playfair Display', serif;
      }

      &-submit {
        position: relative;
        right: -15%;
        border: none;
        outline: none;
        width: 20%;
        background: url("../../images/sendIcon.png") no-repeat;
        cursor: pointer;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;

    &-primary {
      padding: 20px 40px;
      background-color: transparent;
      border: 1px solid #626262;
      font-family: 'Playfair Display', serif;
      color: #626262;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .main__main-article-img {
    padding: 10px 0;
  }
  .main__main-article-wrap {
    width: 90%;
    padding: 10px;
    text-align: justify;
  }
  .main__main-article-caption {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  .main__main-article-text {
    margin: 0px;
  }

  .main__articles-wrap {
    width: 90%;
    margin: 0 4%;

    .main__articles-list {
      display: flex;
      flex-flow: column nowrap;
      width: calc(100% + 10px);
      
      &-items {
        .main__main-article-img {
          width: calc(100% + 188px);
          margin-left: 5px;
        }

        .main__article-wrap {
          width: calc(100% + 188px);
          text-align: center;
        }

        .main__main-article-text {
          text-align: justify;
        }
      }
    }
  }

  .main__sign-up {
    position: relative;
    height: 250px;

    .main__form {
      width: 50%;
      text-align: center;
      padding: 0;
      
      &-title {
        font-size: 24px;
        margin-top: -10px;
        margin: 0 auto;
      }
      
      &-email {
        width: 90%;
        text-align: left;
      }

      &-submit {
        position: absolute;
        top: 72%;
        right: 13%;
        width: 40px;
        height: 20px;
      }
    }
  }
}


@media only screen and (min-width: 1824px) {
  section:not(.main__sign-up) {
    width: 1824px;
    margin: 0 auto;
    
    .main__form {
      width: 100px;
    }
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  max-width: 320px;
}



